{# ** @file modules/custom/ar/templates/ar.html.twig
 *
 * Default theme implementation to present ar data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *          content.field_name to access public fields
 * - attributes: HTML attributes for the container element.
 *
 * @see ar_preprocess_ar_template()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('ar/ar_home') }}
<div class="reviews" {{ attributes.addClass('guestbook-ar') }}>
  <div{{ attributes }}>
    {{ title_suffix }}
    <div class="top-wrapper">

      {# user data #}
      <div class="user-data-wrapper">
        <div class="user-data">
          <div class="avatar-user">
            {{ content.avatar_user }}
          </div>
          <div class="name-user">
            {{ content.name_user }}
          </div>
          <div class="date-created">
            {{ content.created }}
          </div>
        </div>
      </div>

      {# user message #}
      <div class="user-message">
        {% if content.image_user is not null %}
          <div class="picture"> {{ content.image_user }} </div>
        {% endif %}
        <div class="message-user">
          {{ content.message_user }}
        </div>
      </div>
    </div>


    {# User contacts #}
    <div class="contact-wrapper">
      <div class="user-phone">
        <a class="phone-link" href="tel:{{ content.phone_user[0] }}">{{ content.phone_user[0] }}</a>
        {#      {{ content.phone_user }}#}
      </div>
      <div class="user-email">
        {#      <a class="user-email" href="mailto:{{ content.email_user }}">{{ content.email_user }}</a>#}
        {{ content.email_user }}
      </div>
    </div>

    {# admin buttons #}
{#    <div class="admin-buttons">#}
{#      {% if user.hasPermission('administer nodes') %}#}
{#        <div class="manage">#}
{#          <div{{ attributes }}>#}
{#            {{ title_suffix }}#}
{#          </div>#}
{#        </div>#}
{#      {% endif %}#}
{#    </div>#}
  </div>


</div>
